CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
CMakeUserPresets.json
Build/*
Build/
test-firmware/build
test-firmware/build/*
bramble
build/build.ninja
build/.ninja_log
build/.ninja_deps
bramble
build/
build/*
